<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Notas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin: 0;
      width: 231mm;
      padding: 2.5cm;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
    }
    header {
      width: 100%;
    }

    .title {
      text-align: center;
    }

    .header-data-container div {
      display: inline-block;
      text-align: left;
      width: 47%;
      margin-left: 15px;
    }

    .header-data-container {
      border: 1.2px solid #424242;
      width: 100%;
      border-radius: 11px;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
    }
    #content {
      display: flex;
      justify-content: center;
    }

    table {
      color: #333;
      font-family: Helvetica, Arial, sans-serif;
      width: 640px;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 15px auto;
    }
    td,
    th {
      height: 30px;
      border: 2px solid transparent;
    }
    th {
      background: #DFDFDF;
      font-weight: bold;
      text-align: right;
      padding-right: 15px;
      width: 320px;
    }
    td {
      background: #FAFAFA;
      text-align: left;
      padding-left: 5px;
    }
    tr:nth-child(even) td {
      background: #F1F1F1;
    }
    tr:nth-child(odd) td {
      background: #FEFEFE;
    }
    h2 {
      text-align: center;
    }
    #comment {
      line-height: 2em;
    }
    .signature {
      text-align: center;
    }
  </style>
</head>

<body>

  <?php foreach($curso->cursas as $cursa): ?>

  <header>
    <h2>Book Quiz Information - EIFAB</h2>
    <div class="header-data-container">
      <div>
        <b>Student:</b>
        <span><?= $cursa->estudiante->apellidos . ' ' . $cursa->estudiante->nombres ?></span>
        <br />
        <b>Book:</b>
        <span><?= 'Book ' . $curso->libro->nro ?></span>
      </div>
      <div>
        <b>Teacher:</b>
        <span><?= $curso->admin->nombres . ' ' . $curso->admin->apellidos ?></span>
        <br />
        <b>Date:</b>
        <span><?= date('d-m-Y') ?></span>
      </div>
    </div>
  </header>
  <br />
  <div id="content">
    <table>
      <tr>
        <th>SPEECH (5%)</th>
        <td><?= $cursa->nhabla ?></td>
      </tr>
      <tr>
        <th>PARTICIPATION IN CLASS (5%)</th>
        <td><?= $cursa->npart ?></td>
      </tr>
      <tr>
        <th>ATTENDANCE (5%)</th>
        <td><?= $cursa->natencion ?></td>
      </tr>
      <tr>
        <th>TEST SCORE (85%)</th>
        <td><?= $cursa->nexamen ?></td>
      </tr>
      <tr>
        <th>FINAL SCORE</th>
        <td><b><?= $cursa->nhabla + $cursa->npart + $cursa->natencion + $cursa->nexamen ?></b></td>
      </tr>
    </table>
  </div>
  <p id="comment">
    Comment:. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
    . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
    . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
  <p class="signature">
    <b>_________________________________________</b>
    <br />
    <b><?= $curso->admin->nombres . ' ' . $curso->admin->apellidos ?></b>
    <br />
    English Teacher
  </p>

  <?php endforeach; ?>

</body>

</html>
